@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
@import url('https://fonts.googleapis.com/css?family=Bungee+Outline');
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
$primary-font-stack: "Bungee Shade", cursive;
$secondary-font-stack: "Bungee Outline", cursive;
$tertiary-font-stack: "Bungee Inline", cursive;
$quartiary-font-stack: 'Share Tech Mono', monospace;
$primary-color: #ddd;
$text-shadow: 0px 1px 3px #bbb, 0px 2px 2px #aaa, 0px 3px 1px #999, 0px 4px 0px #888, 0px 5px 0px #777, 0px 6px 0px #666, 0px 7px 0px #555, 0px 9px 5px #444, 0px 10px 20px #555;
$box-shadow: inset 0px 20px 20px 0px rgb(0, 0, 0);

@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(360deg);
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}

@keyframes color {
  0% {
    filter: sepia(1);
    color: $primary-color;
  }

  50%{
    filter: sepia(0);    
  }

  100% {
    color: black;
  }
}

@keyframes boxier {
  0% {
    box-shadow: inset 1px 1px 20px 0px black;
  }

  100% {
    box-shadow: $box-shadow;
  }
}

@keyframes deeper {
  0% {
    $text-shadow: 0px 1px 2px #111;
  }

  100% {
    text-shadow: $text-shadow;
  }
}

body {
  box-sizing: border-box;
  box-shadow: inset 0px 0px 20px 0px black;
  border: 3px solid black;
  font: 18px $tertiary-font-stack;
  color: black;
  margin: 0;
  animation-name: color;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-direction: forwards;
  // animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.grid {
  display: grid;
  grid-template-areas: 'nav . . . .' 'nav header header header header' 'nav main main main main' 'nav footer footer footer footer';
  grid-gap: 0.5em;
  // grid-column-gap: 50px;
  // grid-row-gap: 50px;
  grid-template-columns: 0px 1fr 1fr 1fr 1fr;
  padding: 0 1em 1em 1em;
}

nav {
  grid-area: nav;
}

header {
  grid-area: header;
  display: grid;
  grid-template-areas: 'photo title' 'photo subtitle';
  grid-template-columns: 10em auto;
  padding: 0 6em 0 1em;
  background: white;
  justify-items: center;
  align-items: center;
  justify-content: stretch;
}

h1,
h2,
h3,
h4 {
  font-family: $tertiary-font-stack;
  text-align: center;
  color: #f1f1f1;
  // text-shadow: $text-shadow; 
  white-space: nowrap;
  animation-name: deeper;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

h1 {
  grid-area: title;
  font-family: $secondary-font-stack;
  font-size: 2.6em;
}

h2 {
  grid-area: subtitle;
  margin-top: -3.5em;
  font-family: $tertiary-font-stack;
}

h3,
h4 {
  padding: 0.2em 0em 0 1em;
  text-align: left;
  line-height: 0;
}

@media (min-width: 901px) {
  // .grid {
  //   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  //   padding: 0 1em 1em 1em;
  // }

  body {
    font-size: 22px;
  }
}

@media (max-width: 900px) {
  // .grid {
  //   grid-template-columns: 0 1fr 1fr 1fr 1fr;
  // }

  body {
    font-size: 18px;
  }
}

@media (max-width: 700px) {
  // .grid {
  //   grid-template-columns: 0 1fr 1fr 1fr 1fr;
  // }

  body {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  // .skills-list {
  // grid-template-columns: 1fr;
  // justify-items: end;
  // align-items: center;
  // justify-content: stretch;
  // }

  body {
    font-size: 10px;
  }
}

@media (max-width: 400px) {
  // .grid {
  //   grid-template-columns: 0 1fr 1fr 1fr 1fr;
  // }

  body {
    font-size: 8px;
  }
}

.photo {
  grid-area: photo;
  box-shadow: 0px 0px 0px 0px black, 0px 1px 1px 0px #333, 0px 2px 1px 0px #444, 0px 3px 1px 0px #555, 0px 4px 1px 0px #666, 0px 5px 10px 0px #777;
  border-radius: 50%;
  margin-bottom: -2em;


  &:hover {
  }

  img {
    padding: 0.9em 1em;
    width: 4em;
    height: 5em;
    border-radius: 50%;
    animation: opacity 3s 1 forwards ease-in-out;
    transform: rotateY(180deg);
    filter: drop-shadow(10px 1px 6px #999), hue-rotate(20deg);
    animation: hue 15s infinite alternate both ease-in-out;

    &:hover {
      transform: rotateY(0deg);      
    }
  }

  div {
    border: 5px solid white;
    animation: boxier 3s forwards ease-in-out;
    border-radius: 50%;
    height: 6em;
    width: 6em;
    background: #f7f7f7bf;
  }
}

main {
  grid-area: main;
  display: grid;
  box-shadow: inset 0px 8px 20px 6px black;
  background: #eee;
  border-radius: 3px;
}

.contact {
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  transition: filter 0.3s;

  &:hover {
    filter: sepia(1);
    box-shadow: inset 0px 0px 20px 0px black;
  }

  i {
    padding: 1em;
    text-shadow: $text-shadow;
  }

  .fa-soundcloud {
    color: #ff7500;
  }

  .fa-linkedin-in {
    color: #0077b5;
  }

  .fa-twitter {
    color: #1da1f2;
  }

  span {
    animation-name: dropshadow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    font-size: 0.5em;
    font-family: $quartiary-font-stack;
    text-shadow: 0 -1px 1px #989898, 0 0px 1px #767676, 0 1px 2px #474747;
  }
}

.title {
  filter: drop-shadow(-7px 7px 11px #aaa);
  transition: all 0.2s;

  &:hover {
    // filter: drop-shadow(-7px 7px 11px rgb(221, 11, 193));
    filter: sepia(1);
  }
}

.subtitle {
  filter: drop-shadow(-6px 6px 10px #aaa);

  &:hover {
    // filter: drop-shadow(-7px 7px 11px rgb(221, 11, 193));
    filter: sepia(1);
    
  }
}

.about {
  cursor: pointer;  
  font-family: $quartiary-font-stack;
  text-shadow: 0 -1px 1px #989898, 0 0px 2px #767676, 0 1px 4px #003759;
  color: #f2f2f2;
  font-size: 0.65em; // span?
  box-shadow: inset 1px 0px 2px -1px #000000;
  padding: 0 0 1em 0.5em;

  h4 {
    font-size: 1.6em;
  }

  &:hover {
    background: black;
    filter: sepia(1);
    box-shadow: inset 0px 0px 20px 0px black;
  }
}

section {
  &.skills,
  &.work,
  &.education,
  &.recommendations {
    cursor: pointer;
    padding: 0.5em;
    text-shadow: 0px 1px 1px #999;
    transition: all 0.2s;

    &:hover {
      transform: translate(0, -0.5em);
      text-shadow: $text-shadow;
      filter: sepia(1);
    }

    &:active {
      text-shadow: 0px 1px 1px #999;
    }
  }
}

.skills {
  box-shadow: inset 0px 10px 20px 0px #000000;

  .skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: end;
    // align-items: center;
    // justify-content: stretch;
  }

  &:hover {
    .list::after {
      content: "★★★★☆";
    }
  }
}

.list {
  font-family: $quartiary-font-stack;
  text-shadow: 0px 1px 1px #999;

  &::after {
    transition: all 0.3s;
    content: "☆☆☆☆☆";
  }
}

.show {
  // display: block !important;
  visibility: visible !important;
  height: auto !important;
}

.content {
  // display: none;
  visibility: hidden;
  height: 0;
}

.work {
  box-shadow: inset 0px -1px 2px -2px #000000;

  .content {
    font-family: $quartiary-font-stack;
    text-shadow: 0px 1px 1px #999;
  }
}

.logos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  justify-content: stretch;
  grid-gap: 1em;
  padding: 0 0 1em 0;
}

picture {
  filter: grayscale(100%);
  border-radius: 1em;
  box-shadow: 0px 0px 20px -8px black;
  transition: box-shadow 0.3s; // TODO

  &:hover {
    box-shadow: 0px 10px 20px 0px black;
  }

  &:active {
    box-shadow: inset 0px 10px 20px 0px black;
  }

  img {
    width: 6em;
    height: 6em;
  }
}

.education {
  box-shadow: inset 0px -1px 4px -2px #000000;
}

.recommendations {
  .recs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    justify-content: stretch;
    grid-gap: 1em;
  }

  h5,
  p {
    font-family: $quartiary-font-stack;
    line-height: 0;
    text-shadow: 0 0 0 black;
  }

  p {
    font-size: 0.6em;
  }
}

footer {
  i {
    // color: red;
  }
  margin-top: 1em;
  font-family: $quartiary-font-stack;
  cursor: pointer;
  grid-area: footer;
  background: #ffffffde;
}