@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
@import url('https://fonts.googleapis.com/css?family=Bungee+Outline');
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

// $primary-font-stack: 'Share Tech Mono', monospace;
// $secondary-font-stack: "Share Tech Mono", monospace;

// $primary-font-stack: "Bungee Outline", cursive;
// $secondary-font-stack:  "Bungee Inline", cursive;

$primary-font-stack: "Bungee Shade", cursive;
$secondary-font-stack:  "Bungee Inline", "Bungee Shade", cursive;

$primary-color: #333;

body {
    box-shadow: inset 0px 0px 20px 0px black;
    border: 3px solid black;
    font: 18px $secondary-font-stack;
    color: $primary-color;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-areas:
      'nav . . . .'
      'nav header header header header'
      'nav main main main main'
      'nav footer footer footer footer';
    grid-gap: 10px;
    // grid-column-gap: 50px;
    // grid-row-gap: 50px;
    grid-template-columns: 0px 1fr 1fr 1fr 1fr;
    padding: 0 20px 10px 10px;    
}

@media (min-width: 1000px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        padding: 0 10px 10px 10px;    
    }
}

nav {
    grid-area: nav;
}

header {
    grid-area: header;
    display: grid;
    grid-template-areas:
      'photo title'
      'photo subtitle';      
    grid-template-columns: 10em auto;      
    padding: 0 6em 0 1em;
    background: white;
    justify-items: center;
    align-items: center;
    justify-content: stretch;
    border-radius: 10em;
    border: 1px inset white;
    box-shadow: inset 1px 0px 18px 5px black;
    
}

h1, h2, h3, h4 {
    font-family: $primary-font-stack;
    text-align: center;        
}

h1 {
    grid-area: title;    
    color: rgba(0, 0, 0, 0.5);
    text-shadow: 0 6px 26px #aa0999; // TODO: animate blur
    font-size: 2.5em;
}

h2 {
    grid-area: subtitle;    
    color: black;
    margin-top: -2em;
}

h3 {
    text-shadow: -10px 12px 7px #9d9b9d;   // TODO: animate blur
}

h4 {
    font-family: $secondary-font-stack;    
    text-shadow: -10px 12px 7px #9d9b9d; // TODO: animate blur
}

.photo {
    grid-area: photo;    
    border-radius: 10em;
    

    div {        
        box-shadow: inset 0px 0px 15px 0px black;        
        border-radius: 50%;
        height: 10em;
        width: 10em;
        background: #13c8dcbf;
    }
}

main {
    grid-area: main;    
    display: grid;    
    box-shadow: inset 0px 10px 20px 0px black;
    border: 1px solid black;
    padding: 0.5em;    
    background: #faf9ec;
    
}

.skills {
    // TODO: test 3D text
    text-shadow: -3px 7px 7px #9d9b9d;   
    box-shadow: 0px 14px 20px 0px #000000b0;
    padding: 0.5em;
    
}

.work {
    box-shadow: inset 0px 10px 20px 0px #000000b0;
    padding: 0.5em;
}

footer {
    grid-area: footer;        
    background: #ffffffde;
    box-shadow: 0px 14px 20px 2px #000000b0;
}