@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
@import url('https://fonts.googleapis.com/css?family=Bungee+Outline');
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');


$primary-font-stack: "Bungee Shade", cursive;
$secondary-font-stack:  "Bungee Outline", cursive;
$tertiary-font-stack:  "Bungee Inline", cursive;
$quartiary-font-stack: 'Share Tech Mono', monospace;


$primary-color: #333;

$text-shadow: 0px 1px 3px #bbb, 
    0px 2px 2px #aaa, 
    0px 3px 1px #999,
    0px 4px 0px #888,
    0px 5px 0px #777,
    0px 6px 0px #666,
    0px 7px 0px #555,
    0px 9px 5px #444,
    0px 10px 20px #333;

$box-shadow: inset 0px 20px 20px 0px rgb(0, 0, 0);      


body {
    box-sizing: border-box;
    
    box-shadow: inset 0px 0px 20px 0px black;
    border: 3px solid black;
    font: 18px $tertiary-font-stack;
    color: $primary-color;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-areas:
      'nav . . . .'
      'nav header header header header'
      'nav main main main main'
      'nav footer footer footer footer';
    grid-gap: 10px;
    // grid-column-gap: 50px;
    // grid-row-gap: 50px;
    grid-template-columns: 0px 1fr 1fr 1fr 1fr;
    padding: 0 20px 10px 10px;    
}

@media (min-width: 1000px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        padding: 0 10px 10px 10px;    
    }
}

nav {
    grid-area: nav;
}

header {
    grid-area: header;
    display: grid;
    grid-template-areas:
      'photo title'
      'photo subtitle';      
    grid-template-columns: 10em auto;      
    padding: 0 6em 0 1em;
    background: white;
    justify-items: center;
    align-items: center;
    justify-content: stretch;
    
}

@keyframes boxier {
    0% {box-shadow: $box-shadow;}
    75% {box-shadow: $box-shadow;}
    100% {box-shadow: inset 1px 1px 20px 0px black; }   
}

@keyframes deeper {
    
    0% {text-shadow: $text-shadow;}
    75% {text-shadow: $text-shadow;}
    100%   {$text-shadow: 0px 1px 2px #111; }        
    
}

h1, h2, h3, h4 {
    font-family: $tertiary-font-stack;
    
    text-align: center;        
    color: #f1f1f1;
    // text-shadow: $text-shadow; 
    //  TODO: animate blur
    white-space: nowrap;

    animation-name: deeper;
    animation-duration: 5s;
    // animation-delay: 2s;
    // animation-iteration-count: 3;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    // animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    
}

h1 {
    grid-area: title;    
    font-family: $secondary-font-stack;                      
    font-size: 2.6em;
}

h2 {
    grid-area: subtitle;    
    margin-top: -3.5em;
    font-family: $tertiary-font-stack;
}

h3, h4 {
    padding-left: 2em;    
    text-align: left;
}

@media (max-width: 700px) {
    h1 {
        font-size: 1.5em;        
    }
    h2 {
        font-size: 0.7em;        
    }
}

.photo {
    grid-area: photo;    
    border-radius: 50%;
    margin-bottom: -2em;

    img {

        padding: 2em 1em;
        width: 4em;
        height: 4em;
        border-radius: 50%;
    }


    div {    
        // box-shadow: $box-shadow;

        animation-name: boxier;
        animation-duration: 5s;
        // animation-delay: -5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;

        border-radius: 50%;
        height: 6em;
        width: 6em;
        background: #f7f7f7bf
    }
}

main {
    grid-area: main;    
    display: grid;    
    box-shadow: inset 0px 8px 20px 6px black;
    background: #eee;
    
}

.contact {
    // box-shadow: inset 0px 8px 20px 0px #000000;
}

.about {
    font-family: $quartiary-font-stack;
    text-shadow: 
        0 -1px 1px #989898,
        0 0px 1px #767676,
        0 1px 2px #474747;
    color: #f2f2f2;
     font-size: 0.7em;
    box-shadow: inset 0px 0px 5px 0px #000000;
    padding: 0.5em;
    h4 {
        font-size: 1.5em;
    }
    
}

.skills {
    // background: #cccccc;        
    // TODO: test 3D text
    box-shadow: inset 0px 10px 20px 0px #000000;
    padding: 0.5em;
    
}

.work {
    // background: #bbb;            
    box-shadow: inset 0px 0px 5px 0px #000000;
    padding: 0.5em;
}

.education {
    // background: #aaa;                
    // box-shadow: inset 0px 0px 5px 0px #000000;
    padding: 0.5em;
}

.recommendations {
    // background: #999;                
    
    box-shadow: inset 0px 0px 20px 6px #000000;
    padding: 0.5em;
}

footer {
    grid-area: footer;        
    background: #ffffffde;
}